.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.resume-preview {
  width: 100%;
  max-width: 22cm; /* Adjust this value for your desired preview size */
  height: 80vh;
  max-height: 29.7cm; /* Adjust this value for your desired preview size */
  overflow: scroll;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.btn.btn-primary{
  border-radius: 10px;
  background-color: #512DA8;
  color: white;
  font-family: "Arial Rounded MT Bold", sans-serif;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}